.wrapper {
    padding: 20px;
}

.add_product {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    
    .btn_add_product {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 6px;
        color: #ff881d;
        border: 1px solid #ff881d;
        border-radius: 8px;
        text-transform: none;
    }
}

.btn_back {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    background: #000;
    border-radius: 50%;
    cursor: pointer;

    .icon_back {
        color: #fff;
    }
}

.list_product {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

